


/* Style page content */
#main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  height: 100%;
}


.cmd-link {
  cursor: pointer;
  color:blue;
}
  



/* The command bar  */
#textbox {
  border:none;
  outline: none;
  width:95%;
}


.input-text {
  font-style:italic;
  color:green;
}







.unscrambler {
  font-family: "Lucida Console", Monaco, monospace;
}

.typewriter {
  font-family: "Lucida Console", Monaco, monospace;
}
.typewriter-active {
  font-weight: bold;
  font-size: larger;
}
/* Various msg options */
.meta {
  color: grey;
}
.parser {
  font-weight: bold;
  font-size: 10pt;
  color: grey;
}
.error {
  font-weight: bold;
  font-size: 10pt;
  color: red;
}

.debug {
  font-size: 10pt;
  color: grey;
  font-family: monospace;
  /*display: none;*/
}
h2 {
  padding-top: 15px;
}


/* Side panes */
.side-panes {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #fdf;
  background-image:url("../images/back.png");
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  font-size: 9pt;
}
.side-panes-left {
  left: 0;
}
.side-panes-right {
  right: 0;
}
.side-panes-none {
  display: None;
}


.pane-div-finished {
  display: none;
  font-size: 3em;
  text-align: center;
}

#panes h4 {
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}


/* Compass */
#compass-table {
  padding-left: 5pt;
}
td.compass-button {
    border: black solid 1px;
    padding: 2px;
    background-color: #c0c0ff;
    width: 20px;
    height: 15px;
}  
span.compass-button {
    cursor: pointer;
    text-align: center;
    width: 18px;
    display: block;
}  

#status-pane {
  padding-left: 5pt;
}

/* Items in inventories */
.item {
    cursor: pointer;
    border: black solid 1px;
    padding: 2px;
    padding-bottom: 0px;
    background-color: #c0c0ff;
    width: 135px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.sub-item {
    background-color: #a0a0ff;
    width: 140px;
    margin-top: 0px;
}
.item-action {
    cursor: pointer;
    border: black solid 1px;
    border-top: none;
    padding: 2px;
    background-color: #e0e0ff;
    width: 100px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style:italic;
}



// Used by showMenu
.menu-title {
  color: grey;
  font-style: italic;
  margin-left: 20px;
}
.menu-option {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}

.continue {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}


/* For dialog panels */
#dialog {
  display:none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #c0c0ff;
}
.scrolling {
  cursor: pointer;
  color: blue;
  background-color: silver;
}



th, td {
  padding:4px;
  text-align:center;
}


