# some usual gitignore properties.
node_modules
temp{!late}*
.temp*
# if you're wondering: this is a hidden config file on macOS
.DS_Store

tmp.*
*.xml
*.aslx
*.yml
*.rb
*.txt
*.zip
game-x*/
libx/
page-x*.html
images/Joseph Banks.svg
misc/
