@import url('https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+XiaoWei');

body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}



/* Style page content */
#main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: 'ZCOOL XiaoWei', serif;
}


.cmd-link {
  cursor: pointer;
  color:blue;
}
  



/* The command bar  */
#textbox {
  border:none;
  outline: none;
  width:95%;
}


.input-text {
  font-style:italic;
  color:green;
}




/* Side panes */
.side-panes {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #fdf;
  background-image:url("../images/back.png");
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  font-size: 9pt;
  font-family: 'Montserrat', sans-serif;;
}
.side-panes-left {
  left: 0;
}
.side-panes-right {
  right: 0px;
}
.side-panes-none {
  display: None;
}

#rightstatus {
  background-color: #c0c0ff;
  margin:10px;
  border:black solid 1px;
}  

/*
.pane-div {
  background-color: #ffff00;
  width:150px;
  margin-left:5px;
  border: black solid 1px;
  border-radius: 3px;
}
*/



// Used by showMenu
.menu-title {
  color: grey;
  font-style: italic;
  margin-left: 20px;
}
.menu-option {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}
.dark-body .menu-option, .dark-body a {
  color:#aaf;
}


/* Various msg options */
.meta {
  color: grey;
}
.parser {
  font-weight: bold;
  font-size: 10pt;
  color: grey;
}
.error {
  font-weight: bold;
  font-size: 10pt;
  color: red;
}


.debug {
  font-size: 10pt;
  color: grey;
  font-family: monospace;
  /*display: none;*/
}




/* Compass */
td.compass-button {
    border: black solid 1px;
    padding: 2px;
    background-color: #c0c0ff;
    width: 20px;
    height: 15px;
}  
span.compass-button {
    cursor: pointer;
    text-align: center;
    margin: auto;
    width: 18px;
    display: block;
} 


/* Items in inventories */
.side-pane-heading {
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.item {
    cursor: pointer;
    border: black solid 1px;
    padding: 2px;
    padding-bottom: 0px;
    background-color: #c0c0ff;
    width: 135px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.sub-item {
    background-color: #a0a0ff;
    width: 140px;
    margin-top: 0px;
}
.item-action {
    cursor: pointer;
    border: black solid 1px;
    border-top: none;
    padding: 2px;
    background-color: #e0e0ff;
    width: 100px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style:italic;
}
#status-pane {
  padding-left: 5pt;
}
#compass-table {
  padding-left: 5pt;
}
#dialog {
  display:none;
}



/* For dialog panels */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #c0c0ff;
}

.scrolling {
  cursor: pointer;
  color: blue;
  background-color: silver;
}


th, td {
  /*border-bottom: 1px solid #ddd;*/
  padding:4px;
  text-align:center;
}



.typewriter {
  font-weight: bold;
  font-size: larger;
}






.skill-container {
    position: relative;
    width: 40px;
    height: 60px;
}
.skill-image {
    top: 0;
    right: 0;
    position: absolute;
}
