@import url('https://fonts.googleapis.com/css?family=Orbitron|Ubuntu+Condensed');

body {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
}

.default-h2, .default-h4 {
  font-family: 'Orbitron', serif;
}

.pane-div {
  background-color:#bbb;
  padding-bottom:5px;
  border: #004 solid 2px;
  margin-bottom: 10px;
}

#dialog {
  font-size: 16px; 
  font-family: 'Ubuntu Condensed', sans-serif;
}

.ui-dialog-title {
  font-family: 'Orbitron';
  font-size: 110% !important;
  color: black !important;
}

td.compass-button {
  border: black solid 1px;
}