

#sidepane-menu {
  font-size: 9pt;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 320px;
  left: 40px;
  z-index:50;
  padding:2px;
  width:240px;
  background-color: #eef;
  color:black;
  border:solid black 1px;
}


.sidepane-menu-title {
  font-style:italic;
  color:green;
}

.sidepane-menu-option {
  background-color: #faf;
  border:solid black 1px;
  cursor: pointer;
  padding:5px;
}