@import url('https://fonts.googleapis.com/css?family=Montserrat|ZCOOL+XiaoWei');

body {
  color: black;
  font-family: 'Montserrat', sans-serif;;
}



/* Style page content */
#main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  font-family: 'ZCOOL XiaoWei', serif;
}


.cmdlink {
  cursor: pointer;
  color:blue;
}
  



/* The command bar  */
#textbox {
  border:none;
  outline: none;
  width:95%;
}


.inputtext {
  font-style:italic;
  color:green;
}




/* Side panes */
.sidepanes {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #fdf;
  background-image:url("../images/back.png");
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  font-size: 9pt;
  font-family: 'Montserrat', sans-serif;;
}
.sidepanesLeft {
  left: 0;
}
.sidepanesRight {
  right: 0px;
}
.sidepanesNone {
  display: None;
}

/*
.paneDiv {
  background-color: #ffff00;
  width:150px;
  margin-left:5px;
  border: black solid 1px;
  border-radius: 3px;
}
*/



// Used by showMenu
.menutitle {
  color: grey;
  font-style: italic;
  margin-left: 20px;
}
.menuoption {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}


/* Various msg options */
.meta {
  color: grey;
}
.parser {
  font-weight: bold;
  font-size: 10pt;
  color: grey;
}
.error {
  font-weight: bold;
  font-size: 10pt;
  color: red;
}
.error21::before {
  content: "QUEST CODE ERROR: ";
  font-style: italic;
}
.error22::before {
  content: "GAME CODE ERROR: ";
  font-style: italic;
}
.error23::before {
  content: "PARSER ERROR: ";
  font-style: italic;
}
.error25::before {
  content: "TEXT PROCESSOR ERROR: ";
  font-style: italic;
}
.error26::before {
  content: "SAVE/LOAD ERROR: ";
  font-style: italic;
}
.error27::before {
  content: "DEBUG COMMAND: ";
  font-style: italic;
}




.debug {
  font-size: 10pt;
  color: grey;
  font-family: monospace;
  /*display: none;*/
}




/* Compass */
td.compassbutton {
    border: black solid 1px;
    padding: 2px;
    background-color: #c0c0ff;
    width: 20px;
    height: 15px;
}  
span.compassbutton {
    cursor: pointer;
    text-align: center;
    width: 18px;
    display: block;
}  


/* Items in inventories */
#panes h4 {
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.item {
    cursor: pointer;
    border: black solid 1px;
    padding: 2px;
    padding-bottom: 0px;
    background-color: #c0c0ff;
    width: 135px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.subitem {
    background-color: #a0a0ff;
    width: 140px;
    margin-top: 0px;
}
.itemaction {
    cursor: pointer;
    border: black solid 1px;
    border-top: none;
    padding: 2px;
    background-color: #e0e0ff;
    width: 100px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style:italic;
}
#status-pane {
  padding-left: 5pt;
}
#compass-table {
  padding-left: 5pt;
}




/* For dialog panels */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #c0c0ff;
}

.scrolling {
  cursor: pointer;
  color: blue;
  background-color: silver;
}




th, td {
  border-bottom: 1px solid #ddd;
  padding:4px;
  text-align:center;
}



.typewriter {
/*  font-weight: bold;
  font-size: larger;*/
  color:grey;
}