@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

body {
  color: #bbb;
  background-color:#333;
  font-family: 'Lora', serif;
  margin: 0;
  height: calc(100vh);
}

#main {
  border-left: #bbb solid 1px;
  padding-left: 20px;
  border-right: #bbb solid 1px;
  padding-right: 20px;
}

#textbox {
  color: #bbb;
  background-color:#333;
  font-family: 'Lora', serif;
  font-size: 12pt;
}

.input-text {
  color: #888;
}