@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
  color: #bbb;
  background-color:#333;
  font-family: 'Rozha One', serif;
  margin: 0;
  height: calc(100vh);
  background-color: white;
}

#main {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.default-p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;
}

#textbox {
  color: #bbb;
  background-color:#333;
  font-family: 'Lora', serif;
  font-size: 12pt;
  border:none;
  outline: none;
}

.input-text {
  color: #888;
}