@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

body {
  color: #333;
  font-family: 'Rozha One', serif;
  background-color: white;
}

.default-h2 {
  font-family: 'Rozha One', serif;
}
