/***
* Reset 
***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/***
* Global
***/
html {
  overflow-y:scroll;
  scroll-behavior: smooth;
  text-size-adjust: none;
}

body {
  line-height: 1;
  color: black;
  background-color: white;
  font-family: sans-serif;
  width: 100%;
  margin-bottom: 20px;
  text-size-adjust: none;
}
.dark-body {
  background-color: #111;
  color: #eee;
}
.narrow-body {
}
.very-narrow-body {
}
.plain-font-body, .plain-font-body .default-h, .plain-font-body .pane-div {
  font-family: sans-serif ! important;
}

ol, ul {
	list-style: none;
}
.default-ol {
	list-style: decimal inside;
}
.default-ul {
	list-style: square inside;
}

#cursor {
  margin-left: 5px;
}

pre {
  padding-left: 10px;
  color:#888;
}

.centred {
  text-align:center;
}

/***
* Heading
***/
.default-h2 {
  font-weight: bold;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.default-h3 {
  font-weight: bold;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.default-h4 {
  padding: 5px;
}

/* All heading should have this. It does nothing by default! */
.default-h {
}




/***
* Paragraph text
***/

/* Any paragraphs in the main (output) div */
#output p {
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

/* Specific paragraph styles */
.default-p, .tutorial, .meta {
  text-align: justify;
  text-justify: inter-word;
}




/* Style page content */
#inner {
  max-width: 600px;
  margin:0 auto;
}

.narrow-body #inner {
  max-width:400px;
}

.very-narrow-body #inner {
  max-width:240px;
}


#input input {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 16px;
}


.cmd-link {
  cursor: pointer;
  color:blue;
}
.dark-body .cmd-link {
  color:#aaf;
}
.dark-body a {
  color:#aaf;
}

.about-footer {
  float: left;
  padding: .5em 1em;
}


/* Used in help text */
.help-eg {
  color:purple;
}
.dark-body .help-eg {
  color:#e8e;
}

/***
* Buttons (is this used anywhere; not that I can find)
***/
/*
.qbtn {
  display: inline-flex;
  width: 20px;
  height: 20px;
  border: #ccc 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin-left: 3px;
  background-color: #f9f9f9;
  text-decoration: none;
}

.qbtn i {
  vertical-align: middle;
  margin: auto;
}

.qbtn i:hover {
  color: #FF0000;
}
*/


/***
* Dialog
***/
#dialog p {
  padding: 10px 0px 10px 0px;
  text-align: justify;
}


/***
* The command bar
***/
#textbox {
  border:none;
  outline: none;
  width:95%;
}
.dark-body   #textbox {
  background-color: #111;
  color: white;
}

.input-text {
  font-style:italic;
  color:green;
}
.dark-body  .input-text {
  color:lightgreen;
}

/***
* Side Panes
***/
.side-panes {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 170px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10pt;
}

.pane-div {
  background-color: #f9f9f9;
  border: #ccc 1px solid;
  padding: 0px;
  margin-bottom: 5px;
}
.dark-body .pane-div {
  background-color:#606;
}

.pane-content {
  padding: 5px 10px 5px 10px;
}

.side-panes-left {
  left: 0;
}

.side-panes-right {
  right: 0px;
}

.side-panes-none {
  display: None;
}

.pane-div-finished {
  display: none;
  font-size: 3em;
  text-align: center;
}

/***
* Compass 
***/
#compass-table {
  padding: 5px;
  margin: auto;
}

#compass-table td {
  padding: 1px;
}

td.compass-button {
  cursor: pointer;
  border: #ccc solid 1px;
  border-radius: 4px;
  padding: 2px;
  background-color: #f5f5f5;
  min-width: 20px;
  width: 20px;
  height: 20px;
}
.dark-body td.compass-button {
  background-color:#404;
}

td.compass-button:hover {
  color:blue;
}


span.compass-button {
  padding: 3px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  width: 18px;
  display: block;
}  

/***
* Inventory
***/
.side-pane-heading {
  border-bottom: #ccc 1px solid;
  padding: 7px;
  margin-top: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
}

.item-list {
  margin-bottom: 10px;
}

.item {
  cursor: pointer;
  border: black solid 1px;
  border-radius: 4px;
  padding: 2px;
  background-color: #e1ebf2;
  width: auto;
  max-width: 130px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.dark-body  div  .item {
  background-color:#404;
}

.item:first-child {
  margin-top: 10px;
}

.sub-item {
  background-color: #a0a0ff;
  width: 140px;
  margin-top: 0px;
}
.dark-body .sub-item {
  background-color:#305;
}

.item-action {
  cursor: pointer;
  border: black solid 1px;
  border-top: none;
  padding: 2px;
  background-color: #e0e0ff;
  width: 100px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style:italic;
  display:none;
}
.dark-body .item-action {
  background-color:#602;
}

#status-pane {
  padding-left: 5pt;
}

#dialog {
  display:none;
  z-index:10;
  position:fixed;
}

.toggle {
  text-align: right;
}

/***
* Show Menu
***/
.menu-title {
  color: grey;
  font-style: italic;
}

.menu-option {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}


/* Various msg options */
.tutorial {
  color: blue;
  font-style:italic;
}
.dark-body .tutorial {
  color: #aaf;
}

.hidden {}

.hidden .tutorial {
  display: none;
}

/*
.metapanel {
  background-color: #f9f9f9;
  border: #ccc 1px solid;
  padding: 10px;
}*/

.meta {
  color: grey;
  padding: 10px;
}

.todo {
  color: grey;
  font-weight: bold;
  text-decoration: underline;
  padding: 10px;
}
.todo::before {
  content: "To do: ";
}

table.meta {
  border-collapse: collapse;
  border: 1px solid grey;
  text-align:left;
}

.meta th, .meta td {
  border-collapse: collapse;
  border: 1px solid grey;
  text-align:left;
  padding: 5px;
}

.parser {
  font-weight: bold;
  font-size: 10pt;
  color: grey;
}

.error {
  font-weight: bold;
  font-size: 10pt;
  color: red;
}

.debug {
  font-size: 10pt;
  color: grey;
  font-family: monospace;
}

.scrolling {
  cursor: pointer;
  color: blue;
  background-color: silver;
}

th, td {
  padding:4px;
  text-align:center;
}

/***
* Miscelaneous 
***/
.typewriter {
  padding: 5px;
  margin: 5px 0 5px 0;
  color:grey;
}
.typewriter-active {
  font-weight: bold;
  font-size: larger;
}

.meta i.fas {
  color: blue;
  font-weight: bold;
}

.compass-button i:hover {
	color: blue;
}

.continue {
	color: blue;
  cursor: pointer;
}

.popup-link {
  cursor:pointer;
  color:blue;
}

.popup {
  position:fixed;
  z-index:9999;
  display:none;
  cursor:pointer;
  left:50%;
  top:40%;
  width:400px;
  margin-left: -200px;
  background-color:#ffd;
  border:2px solid;
  padding:5px;
}
.dark-body .popup {
  background-color: #301;
}


/***
* Panel (is this used anywhere; not that I can find)
***/
/*
#panel {
  width: 101%;
  border: #ccc solid 1px;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 10px;
  margin-bottom: 10px;
}

#panel .head {
  height: 20px;
  border-bottom: #ccc solid 1px;
  padding: 5px 5px 5px 10px;
}

#panel .content {
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
}

#panel .footer {
  clear: both;
  height: 20px;
  border-top: #ccc solid 1px;
  padding: 5px 5px 5px 10px;
}

#panel .title {
  float: left;
  text-align: left;
  font-weight: bold;
}

#panel .toggle {
  float: right;
  text-align: right;
  padding-right: 5px;
}

#panel p {
  padding: 10px;
  margin-bottom: 0px;
}

#panel ul li {
  list-style-type: circle;
}

#panel a {
  color: #000000;
  text-decoration: none;
}

#panel a:hover {
  color:blue;
}

#panel .sidepane {
  float: left;
  width: 25%;
  margin-bottom: 4px;
  padding: 10px;
}

#panel .show {
  display: block;
}

#panel .hide {
  display: none;
}

#panel .sidepane ul {
  counter-reset: section;
}

#panel .sidepane li::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
  font-weight: bold;
}

#panel .sidepane li {
  list-style-type: none;
  margin-bottom: 7px;
}
*/

/***
* Rules (is this used anywhere; not that I can find)
***/
/*
.rules {
  float: right;
  width: 70%;
  margin-bottom: 10px;
  counter-reset: section;
}

.rules div {

}

.rules p::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
  font-weight: bold;
}

.rules p {
  text-align: justify;
  margin-bottom: 15px;
}

.rules .fragment {
  background-color: #ECD5D8;
  color: #9C2A4D;
  margin-left: -2px;
  padding: 5px;
  border-radius: 5px;
}

.rules .fragment a {
  color: #9C2A4D;
}*/




/***
* Toolbar 
***/
.toolbar {
  width: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top:0;
  display: inline-flex;
  height: 24px;
  padding: 4px;
  border: #ccc 1px solid;
  background-color: #f9f9f9;
  text-decoration: none;
  vertical-align: middle;
}
.dark-body .toolbar {
  background-color:#606;
}

.toolbar .left {
  float: left;
  text-align: left;
  padding-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.toolbar .middle {
  text-align: center;
  margin: auto;
}

.toolbar .right {
  float: right;
  text-align: right;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.toolbar a.link {
  cursor: pointer;
  color: #000000;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 2px;
  background-color:#ddd;
  height:28px;
  width:28px;
}
.dark-body .toolbar a.link {
  background-color:#444;
  color: #fff;
}

.toolbar a.link:hover {
  color: blue;
}




/***
* Loading Screen
***/
#loading {
  text-align: center;
  padding: 20px;
}




/***
* Item links
***/
.exit-link:not(.disabled), .object-link:not(.disabled){
	cursor: pointer;
}
.droplink{
  color:blue;
  font-size: inherit;
}
.droplink:not(.disabled) {
  cursor: pointer;
  text-decoration: underline;
  font-size:inherit;
}

.droplink:hover:not(.disabled), .droplink:focus:not(.disabled), .exit-link:hover:not(.disabled) {
  color: blue;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: auto;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
}

.dropdown  a:hover {
	background-color: #ddd;
}
.dark-body .dropdown  a:hover {
	background-color: #222;
}

.list-link-verb:hover {
	background-color: #ddd;
}
.dark-body .list-link-verb:hover {
	background-color: #222;
} 

.show {
  display:block;
}
.list-link-verb {
	white-space:nowrap;
}
.exit-link:not(.disabled) {
	text-decoration:underline;
}




/***
* For a menu that appears by the side pane
***/
#sidepane-menu {
  position: fixed;
  top: 200px;
  left: 100px;
  z-index:50;
  padding:5px;
  width:240px;
  background-color: #f9f9f9;
  border:solid #ccc 1px;
}
.dark-body #sidepane-menu {
  background-color:#060606;
}

.sidepane-menu-title {
  font-style:italic;
  padding:5px;
}

.sidepane-menu-option {
  background-color: #faf;
  border:solid black 1px;
  cursor: pointer;
  padding:5px;
  border: black solid 1px;
  border-radius: 4px;
  background: #e1ebf2;
  margin-top: 10px;
}
.dark-body #sidepane-menu .sidepane-menu-option {
  background-color:#306;
}

a {
  text-decoration: none;
}


/* Used by transcripts */
.input {
  color:green;
}
.comment {
  color:orange;
  font-weight:bold;
}
