@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


body {
  font-family: 'Marcellus', serif;
  background: rgb(17,17,17);
  color: #05b0ff;
  font-size: 1.1em;
}

.default-h2, .default-h3, .default-h4 {
  font-family: 'Stalinist One', cursive;
} 


.pane-div {
  background-color: #eee;
}  

.item-action {
  background-color: #ccc;
}  

td {
  text-align: left;
}

.input-text {
  font-family: 'Marcellus', serif;
  background: rgb(17,17,17);
  color: #0370bb;
}

.cmd-link {
  color: #80e0ff;
}

#textbox {
  font-family: 'Marcellus', serif;
  background: rgb(17,17,17);
  color: #0490ff;
}


.pane-div {
  background-color: #102;
  border:white black 1px;
  border-radius: 4px;
  font-size: 1.1em;
}

.item {
  background: transparent;
  border:none;
}
.item-action {
  background-color: #204;
  border:white black 1px;
}



#sidepane-menu {
  position: fixed;
  top: 400px;
  left: 40px;
  z-index:50;
  padding:5px;
  width:240px;
  background-color: rgb(17,17,17);
  border: white solid 1px;
  border-radius: 4px;
  color: #aaa;
}

.sidepane-menu-title {
  font-style:italic;
  padding:5px;
}

.sidepane-menu-option {
  background-color: #204;
  border:solid black 1px;
  cursor: pointer;
  padding:5px;
  border-radius: 4px;
  margin-top: 10px;
}


button, input[type="button"] {
  background-color: #aaa;
  border:solid white 1px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Stalinist One', cursive;
}
  
.lookUp, .lookUpRestricted, .news {
  font-family: monospace;
  color:darkblue;
  background-color: #ddd;
  padding: 5px;
  margin-top:0px !important;
  margin-bottom:0px !important;
}
.lookUpRestricted {
  background-color: #ffb;
}
.news {
  background-color: #fbf;
}

#dialog, #text-dialog {
  border: white solid 1px;
  border-radius: 4px;
  font-family: 'Marcellus', serif;
  background: rgb(17,17,17);
  color: #0490ff;
}


#text-dialog {
  font-size: 1.1em;
}

.encyclopedia {
  padding: 5px;
  color: blue;
  background-color:#eee;
}

.encycLink {
  cursor:pointer;
  color: purple;
}