@import url('https://fonts.googleapis.com/css?family=Orbitron|Ubuntu+Condensed');


@keyframes offset {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200px 0;
  }
}


body {
  color: black;
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #202020;
  font-size: 16px;
}



/* Style page content */
#main {
  margin-left: 160px; /* Same as the width of the sidebar */
  margin-right: 160px; /* Same as the width of the sidebar */
  margin-bottom: 160px; /* Same as the width of the sidebar */
  margin-top: 20px; /* Same as the width of the sidebar */
  padding: 15px;
  background-color: #d0d0d0;
  border: #404040 solid 5px;
}


h2, h4 {
  font-family: 'Orbitron', serif;
}

.cmdlink {
  cursor: pointer;
  color:blue;
}
  



/* The command bar  */
#textbox {
  border:none;
  outline: none;
  background-color: #d0d0d0;
  width:95%;
}


.inputtext {
  font-style:italic;
  color:green;
}




/* Side panes */
.sidepanes {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  background-color: #fdf;
  background-image:url("../images/back4.png");
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5px;
  font-size: 10pt;
  /*font-family: 'Orbitron';*/
}
.sidepanesLeft {
  left: 0;
}
.sidepanesRight {
  right: 0px;
}
.sidepanesNone {
  display: None;
}


#bottom-panel {
  bottom: 0;
  height: 60px;
  width: 80%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  padding: 20px 160px 20px 160px;
}


#scanner {
  background-color: black;
  overflow: hidden;
  height: 100%;
  border: #404040 solid 5px;
  background-image: url('../images/scanner.png');
  animation-name: offset;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


#dialog {
  font-size: 16px; 
  //font-family: 'Orbitron';
  font-family: 'Ubuntu Condensed', sans-serif;
}

.ui-dialog-title{
  font-family: 'Orbitron';
    font-size: 110% !important;
    color: black !important;
}



// Used by showMenu
.menutitle {
  color: grey;
  font-style: italic;
  margin-left: 20px;
}
.menuoption {
  color:blue;
  cursor: pointer;
  font-style: italic;
  margin-left: 20px;
}


/* Various msg options */
.meta {
  color: grey;
}
.parser {
  font-weight: bold;
  font-size: 10pt;
  color: grey;
}
.error {
  font-weight: bold;
  font-size: 10pt;
  color: red;
}




.debug {
  font-size: 10pt;
  color: grey;
  font-family: monospace;
  /*display: none;*/
}




/* Compass */
td.compassbutton {
    border: black solid 1px;
    padding: 2px;
    background-color: #d0d0d0;
    width: 20px;
    height: 15px;
}  
span.compassbutton {
    cursor: pointer;
    text-align: center;
    width: 18px;
    display: block;
}  


/* Items in inventories */
#panes h4 {
  padding-left: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.item {
    cursor: pointer;
    border: black solid 1px;
    padding: 2px;
    padding-bottom: 0px;
    background-color: #d0d0d0;
    width: 135px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.subitem {
    background-color: #a0a0ff;
    width: 140px;
    margin-top: 0px;
}
.itemaction {
    cursor: pointer;
    border: black solid 1px;
    border-top: none;
    padding: 2px;
    background-color: SandyBrown;
    width: 100px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style:italic;
}
#status-pane {
  padding-left: 5pt;
}
#compass-table {
  padding-left: 5pt;
}




/* For dialog panels */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #c0c0ff;
}

.scrolling {
  cursor: pointer;
  color: blue;
  background-color: silver;
}










/* The container must be positioned relative: */
.custom-select {
  font-family: 'Ubuntu Condensed', sans-serif;
  border-image:none;
}



.continue {
  text-decoration: underline;
  color:blue;
  cursor: pointer;
}
  
